<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />

		<link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
		<title>Eat da Burger</title>
	</head>
	<body>
		<img src="../assets/img/hammy.png" width="300px" id="hammy">
		{{{ body }}}
	
	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">© 2017 Paytor Productions</span>
				<a class="grey-text text-lighten-4 right" href="https://github.com/ppham0203">Github</a>
			</div>
		</div>
	</footer>
	
	</body>
</html>
