body {
font-family: 'Architects Daughter', cursive;
background: seagreen;
}



#hammy {
  display: block;
  margin: auto;
}

.burgerOrdered {
  
  text-align: center;

  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  background-color: #C92E0F;
  
}

.burgerAvailable {

text-align: center;
border-radius: 15px;

background-color: #b7ffc2;
border: none;
}

.burgerAvailable:hover {
background-color: #81ff94;
}


.create-update-form {
    padding: 5px;
    margin: 5px;   
  }

.burgerEaten {
  text-decoration: line-through;
  text-align: center;

  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  background-color: #E4902F;

}

.burgerFooter {

text-align: center;
/* display: block; */
}